<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Servlet definitions removed because they're now annotated with @WebServlet -->
    <servlet>
        <servlet-name>ChartController</servlet-name>
        <servlet-class>Controller.ChartController</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>ChartController</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>

</web-app>
